{% extends 'base.html.twig' %}

{% block title %}Hackathons
{% endblock %}
{% block body %}
{{ include('navbar.html.twig') }}
<div style="z-index: -1;position: absolute;width: 100%; padding: 20px;">

	<h1>Il existe</h1>
	<h1 id="totalHackathon">{{lesHackathons|length()}}</h1>
	<h1 id="titreHackathon">hackathons.</h1>

	<input id="searchbar" class="searchbar" onkeyup="search_hackathons();update_nbhackathon();" type="text" name="search" placeholder="Rechercher un hackathons" style="font-size: 16px;
		line-height: 28px;
		padding: 8px 16px;
		width: 100%;
		min-height: 44px;
		margin-top:20px;
		border: unset;
		border-radius: 4px;
		outline-color: rgb(84 105 212 / 0.5);
		background-color: rgb(255, 255, 255);
		box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;"
	>
</br></br><div class="row">


{% for hackathon in lesHackathons %}
	<div class="container" style="list-style: none; width:100%;padding:20px;">
		<div class="card" style="margin: 0px auto;
			width: 100%;
			max-width: 448px;
			background: white;
			border-radius: 4px;
			box-shadow: rgb(60 66 87 / 12%) 0px 7px 14px 0px, rgb(0 0 0 / 12%) 0px 3px 6px 0px;
			"
		>
			<ol style="list-style: none" class="ok">
				<div class="hackathon" style="padding: 20px;">
					<li>
						<a href="/detailhackathon/{{ hackathon.ID }}"><img src={{ hackathon.IMAGE }} alt="Aucune image" style="width: 100%"/></a>
					</li>
				</br>
				<li>Thème:
					{{ hackathon.THEME }}</li>
			</br>
			<li>Ville:
				{{ hackathon.VILLE }}</li>
		</br>
		<li>Rue:
			{{ hackathon.RUE }}</li>
	</br>
	<li class="date">Du:
		{{ hackathon.DATEDEBUT|date("d/m/Y") }}</li>
</br>
<li>
	Au: {{ hackathon.DATEFIN|date("d/m/Y") }}
</li>
</br>
<li>
	Places restantes: {{ hackathon.NBPLACESRESTANTES }} / {{ hackathon.NBPLACES }}
</li>
</br>

{# Début Si Authentifié #}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}

	{# Bouton Inscription #}
	{% set estInscrit = false %}

	{# Check si on est déjà inscrit au hackathon #}
	{% for uneInscription in lesInscriptions %}
		{% if hackathon.ID == uneInscription.HACKATHONS.id %}
			{% set estInscrit = true %}
		{% endif %}
	{% endfor %}

	{# Si on est pas inscrit et qu'il y a des places disponibles #}
	{% if estInscrit == false and hackathon.NBPLACESRESTANTES > 0 %}
		<a href="{{path('app_inscriptionhackathon', {'id' : hackathon.ID}) }}" style="decoration:none">
			<button style="font-size: 16px;
				line-height: 28px;
				padding: 8px 16px;
				width: 100%;
				max-width: 448px;
				border: unset;
				border-radius: 4px;
				outline-color: rgb(84 105 212 / 0.5);
				background-color: rgb(255, 255, 255);
				box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;">
				S'inscrire à ce hackathon
			</button>
		</a>
	{% endif %}
	{# Fin Bouton Inscription #}

	{# Bouton Favoris #}
	{% set estFavoris = false %}
	{% set favorisID = null %}

	{# Check si le hackathon est en favoris #}
	{% for unFavoris in lesFavoris %}
		{% if hackathon.ID == unFavoris.HACKATHONS.id %}
			{% set estFavoris = true %}
			{% set favorisID = unFavoris.IDFAVORIS %}
		{% endif %}
	{% endfor %}

	{# Si le hackathon est en favoris --> Bouton pour supprimer des favoris #}
	{% if estFavoris == true %}
		<a href="/suppressionfavoris/{{ favorisID }}" style="decoration:none">
			<button style="font-size: 16px;
				line-height: 28px;
				padding: 8px 16px;
				width: 100%;
				margin-top:20px;
				max-width: 448px;
				border: unset;
				border-radius: 4px;
				outline-color: rgb(84 105 212 / 0.5);
				background-color: rgb(255, 255, 255);
				box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;">
				Supprimer ce hackathon des favoris
			</button>
		</a>
	{# Si le hackathon n'est pas en favoris --> Bouton pour ajouter aux favoris #}
	{% else %}
		<a href="/confirmationfavoris/{{ hackathon.ID }}" style="decoration:none">
			<button style="font-size: 16px;
				line-height: 28px;
				padding: 8px 16px;
				width: 100%;
				margin-top:20px;
				max-width: 448px;
				border: unset;
				border-radius: 4px;
				outline-color: rgb(84 105 212 / 0.5);
				background-color: rgb(255, 255, 255);
				box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;">
				Ajouter ce hackathon en favoris
			</button>
		</a>
	{% endif %}
	{# Fin Bouton Favoris #}

{% endif %}
{# Fin Si Authentifié #}
</div>
</ol>
</br>
</div>
</div>
{% endfor %}
</div>
<script>

function search_hackathons() { // effacer la row
	let input = document.getElementById('searchbar').value
	input = input.toLowerCase();
	let x = document.getElementsByClassName('container');
	for (i = 0; i < x.length; i ++) {
	if (! x[i].innerHTML.toLowerCase().includes(input)) {
		x[i].style.display = "none";
		x[i].classList.remove("nombre");
	} else {
		x[i].style.display = "list-item";
		x[i].classList.add("nombre");
		}
	}
}

function update_nbhackathon() {
	let nb = document.getElementsByClassName('nombre').length; // Nombre de hackathon

	document.getElementById('totalHackathon').innerHTML = document.getElementsByClassName('container').length;
	// Renvoie le nombre total d'hackathons quand la barre de recherche est vide

	// Changement du mot hackathon avec ou sans 's'
	if (nb == 1 || nb == 0) {
		document.getElementById('titreHackathon').innerHTML = 'hackathon'
	} else {
		document.getElementById('titreHackathon').innerHTML = 'hackathons'
	}

	document.getElementById('totalHackathon').innerHTML = document.getElementsByClassName('nombre').length; // Changement dynamique du nombre d'hackathons
}
</script>

<style>
h1 {
	display: inline;
}
</style>

</div>
{% endblock %}
