{% extends 'base.html.twig' %}

{% block title %}Hackathons
{% endblock %}
{% block body %}
	<link rel="stylesheet" href="{{asset('style.css')}}">
	<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="icon" type="image/x-icon" href="{{asset('images/logo.png')}}">
	<input type="checkbox" id="active">
	<label for="active" class="menu-btn">
		<span></span>
	</label>
	<label for="active" class="close"></label>
	<div class="wrapper">
		<ul>
			<li><a href="/">Accueil</a></li>
			<li><a href="/presentation">Presentation</a></li>
			<li><a href="/hackathon">Hackathons</a></li>
			<div class="alignement" style="display: table;">
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<li style="padding-left:200px"><a  href="{{ path('app_logout') }}"><img src="{{ asset('images/deconnexion.png') }}" style="width:50px"></a></li>
					<li><a href="{{ path('app_profile') }}"><img src="{{ asset('images/connexion.png') }}" style="width:50px"></a></li>
				{% else %}
					<li><a href="{{ path('app_login') }}"><img src="{{ asset('images/connexion.png') }}" style="width:50px"></a></li>
				{% endif %}
			</div>
		</ul>
	</div>
	<div class="content">
		<div class="title">
			Presentation</div>
	</br>
    <div style="font-size: 50px; max-width: 70%;margin-left: auto;
margin-right: auto; color:black;">
    Un hackathon est un évènement durant lequel des groupes de développeurs volontaires se réunissent pendant une période de temps donnée afin de travailler sur des projets de programmation informatique de manière collaborative.
    </div>
</br>
<a href="/hackathon">
<button class="button-81" role="button">
	<p style="font-size : 20px">
		Voir les hackathons !</p>
</button>
</a>
</div>{% endblock %}
